/*	Color
=====================================================================*/
.color_default{
    color: #ff3926;
}
.color_primary{
    color: #1e283c;
}
.color_secondery{
    color: #818181;
}
.color_gray{
    color: #757575;
}
.color_lightgray{
    color: #e1e1e1;
}
.color_white{
    color: #fff;
}
/*	Background Color
===================================================================*/
.bg_default{
    background-color: #ff3926;
}
.bg_primary{
    background-color: #1e283c;
}
.bg_secondery{
    background-color: #f7f7f7;
}
.bg_dark{
    background-color: #000;
}
.bg_gray{
    background-color: #757575;
}
.bg_black{
    background-color: #2e2e2e;
}
.bg_deepblack{
    background-color: #232323;
}
.bg_white{
    background-color: #fff;
}
/*	btn color
===================================================================*/
.btn-default{
    background-color: #ff3926;
    color: #fff;
}
.btn-default:hover,.btn-default.active{
    background-color: #1e283c;
    color: #fff;
}
.socal_media ul li a:hover{
    color: #fff;
    filter: brightness(115%);
}
.btn_info{
    color: #ff3926;
}
.btn_info:hover{
    color: #1e283c;
}
/*	Navbar Color
===================================================================*/
.nav-scroll{
    background: #fff !important;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
}
.navbar-light .navbar-brand,
.dropdown-item:focus, .dropdown-item:hover{
    color: #fff;
}
.nav-scroll .navbar-light .navbar-brand{
    color: #1e283c;
}
.navbar-nav .nav-item .nav-link:before,
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #ff3926;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff
}
#particles-header .navbar-light .navbar-nav .nav-link{
    color: #1e283c;
}
#particles-header .navbar-light .navbar-nav .nav-link.active,
#particles-header .nav-scroll .navbar-light .navbar-nav .nav-link.active,
#particles-header .navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,.nav-scroll .navbar-light .navbar-nav .nav-link.active,
ul#menu li.active a,.contact_massage a, .navbar-light .navbar-nav .nav-link:focus{
    color: #ff3926;
}
.nav-scroll .navbar-light .navbar-nav .nav-link{
    color: #1e283c
}
.dark_nav.nav-scroll{
    background-color: #232323 !important;
}
.dark_nav.nav-scroll .navbar-light .navbar-nav .nav-link,.sidenav a{
    color: #e1e1e1;
}
.dropdown-menu li a{
    border-bottom: 1px solid #eee
}
/*	Hover color
===================================================================*/
.white_hover a i{
    color: #fff
}
.white_hover a i:hover{
    color: #ff3926;
}
/*	Default Color Class & ID
===================================================================*/
.primary_link a:hover,.filter-tabs li.filter.active,.comments,.blog_item a:hover,
.navbar-light .navbar-nav .nav-link:hover,.socal_media_2 ul li a:hover,
ul#menu li a:hover,.twite i,.twite a:hover,.category_sidebar ul li:hover,
.white_link a:hover,.recent_post a:hover,.archives ul li a:hover{
    color: #ff3926;
}
/*	Primary Color Class & ID
===================================================================*/
.primary_link a,.socal_media_2 ul li a,.contact_message .error,.page-link,
.recent_post a,.tags ul li a{
    color: #1e283c;
}
/*	White Color Class & ID
===================================================================*/
.personal_video a,.counter span:before,.counter-box span:before,.default-portfolio-item .overlay-box span,
.tag,.sidebar span,.socal_media ul li a,.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,.table:hover h4,.table:hover,.table:hover h5,
.contact_icon,.bg_black .form label,.breadcrumbs ul li,.breadcrumbs ul li a,.page-item.active .page-link,
.page-link:hover,.tags ul li a:hover,.white_link a{
    color: #fff
}
.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span{
    color: #fff;
}

/*	Background Color Default Class & ID
===================================================================*/
.line_double::before, .line_double::after,.progress-bar,.service_two .srv_icon,
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next,
.lds-spinner div,.socal_media ul li a,#pp-nav li .active span, .pp-slidesNav .active span,
.carousel-indicators .active,.contact_icon,.widget_title:before,.progress-bar,.page-item.active .page-link,
.page-link:hover,.tags ul li a:hover{
    background-color: #ff3926 !important;
}
::-webkit-scrollbar-thumb{
    background-color: #232323;
}
/*	Background Color Primary Class & ID
===================================================================*/
#scroll,.personal_video a,.ball-scale-multiple > div,.preloader,
.sidenav,.table:hover,.admin{
    background-color: #1e283c;
}
/*	Background Color Gray Class & ID
===================================================================*/
.progress{
    background-color: #757575;
}
/*	Background Color Light Gray Class & ID
===================================================================*/
.page-link,.tags ul li a{
    background-color: #e1e1e1
}
/*	Background Color White Class & ID
===================================================================*/
.profile_img.personal_video .iconround:before,#pp-nav span,
.navbar-light .navbar-toggler,.blog_details .admin{
    background-color: #fff;
}
/*	Border Color Default
===================================================================*/
.overlay-box{
    border-color: #ff3926;
}
/*	Border Color Primary
===================================================================*/
.profile_img.personal_video .iconround:before{
    border-color: #1e283c;
}
#scroll span{
    border-bottom-color: #ffffff;
}
.socal_media ul li a, .owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next, .srvicon, .contact_icon{
    border-color: rgba(255, 255, 255, 0.3) !important;
}

/*	Overlay Color
===================================================================*/
.overlay_one:before{
    background: rgba(0,0,0,0.2);
}
.overlay_three:before{
    background: rgba(0,0,0,0.3);
}
.overlay_two:before,.overlay-box{
    background: rgba(0,0,0,0.9);
}
.overlay_four:before{
    background: rgba(0,0,0,0.6);
}
/*	16.		Border color Light Gray
===================================================================*/
.personal_info ul li,.table ul li,.form-control{
    border-color: #e1e1e1;
}
.border{
    border-color: #ff3926 !important;
}
.form-control:focus{
    border-color: #1e283c;
}
.main_nav{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
}

.service_one,.service_two,.member_feedback,.blog_item,.table{
    -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,.18);
    -moz-box-shadow: 1px 2px 10px rgba(0,0,0,.18);
    -ms-box-shadow: 1px 2px 10px rgba(0,0,0,.18);
    -o-box-shadow: 1px 2px 10px rgba(0,0,0,.18);
    box-shadow: 1px 2px 10px rgba(0,0,0,.18);

}